@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&family=Roboto:400,700&display=swap');
@import "_mixin/mixins";

.c-hero {
  padding: 0 20px;
  max-width: 540px;
  margin: 23px auto 0;
  @include mq(medium) {
    margin-top: 53px;
  }
  &-heading {
    font-size: 20px;
    line-height: 1.6;
    @include mq(xsmall) {
      font-size: 24px;
    }
    @include mq(small) {
      margin: 34px 33px 0;
      font-size: 32px;
    }
  }
  &-content {
    margin-top: 19px;
    @include mq(small) {
      margin-top: 34px;
    }
    p {
      margin-top: 1em;
      font-size: 16px;
      line-height: 1.18;
    }
  }
}

.c-services {
  max-width: 375px;
  margin: 37px 20px 0;
  @include mq(small) {
    margin: 54px auto 0;
  }
  &-heading {
    font-size: 20px;
    margin-bottom: 1em;
    @include mq(small) {
      font-size: 24px;
    }
  }
  &-list {
    letter-spacing: 0;
  }
  &-item {
    display: inline-block;
    margin-right: 1em;
  }
}

.c-location {
  &-header {
    margin: 4px 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 820px;
    @include mq() {
      margin: 7px auto 0;
    }
  }
  &-area {
    display: flex;
    align-items: center;
    overflow: hidden;
    .c-topic_path {
      margin-top: 0;
    }
  }
  &-post_number {
    font-size: 16px;
    font-weight: 700;
    margin-right: 9px;
    line-height: 1;
    white-space: nowrap;
    flex: 1;
  }
  &-address {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-count {
    margin-left: 10px;
    white-space: nowrap;
  }
  &-count_num {
    font-size: 24px;
    font-weight: 700;
  }
  &-count_unit {
    font-size: 18px;
    font-weight: 700;
  }
  &-shop {
    margin-top: 5px;
  }
  &-suggestion {
    font-size: 14px;
    text-align: right;
    margin: 10px 25px 0;
    max-width: 820px;
    @include mq(small) {
      margin: 10px auto 0;
    }
    a {
      &:link, &:visited {
        color: #3C8CF9;
        text-decoration: none;
      }
    }
  }
}

.c-shop {
  margin-left: 12px;
  margin-right: 12px;
  @include mq() {
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    margin-top: -18px;
  }
  &-list {
    @include mq() {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &-item {
    margin-top: 7px;
    //position: relative;
    @include mq() {
      width: 390px;
      margin-top: 34px;
    }
  }
  &-link {
    display: flex;
    border-radius: 10px;
    //box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #dddddd;
    overflow: hidden;
    color: #000000;
    text-decoration: none;
  }
  &-image {
    width: 130px;
  }
  &-text {
    //flex: 1;
    width: calc(100% - 130px - 17px - 15px);
    margin-left: 17px;
    margin-right: 15px;
  }
  &-name {
    margin-top: 9px;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-category {
    font-size: 12px;
  }
  &-review {
    display: flex;
    align-items: center;
    &_star_bg {
      width: 96px;
      height: 15px;
      background: url("../img/ico_star_gray.svg") repeat-x;
      background-size: auto 15px;
    }
    &_star {
      width: 16px;
      height: 15px;
      background: url("../img/ico_star_red.svg") repeat-x;
      background-size: auto 15px;
      //@for i i
      @for $i from 0 through 10 {
        &__val#{$i} {
          $image: none;
          @if($i < 7) {
            $image: url("../img/ico_star_yellow.svg");
          } @else if($i < 9) {
            $image: url("../img/ico_star_orange.svg");
          } @else {
            $image: url("../img/ico_star_red.svg");
          }
          width: (15px * $i / 2) + (floor($i / 2) * 5px);
          background-image: $image;
        }
      }
    }
    &_value {
      margin-left: 10px;
      font-size: 12px;
      line-height: 1;
    }
  }
  &-enable {
    //position: absolute;
    //bottom: 5px;
    //right: 15px;
    margin-top: 10px;
    //width: calc(100% - 130px - 17px - 15px);
    &_list {
      text-align: right;
      letter-spacing: -.4em;
    }
    &_item {
      display: inline-block;
      text-align: center;
      font-size: 12px;
      margin-left: 3px;
      margin-bottom: 5px;
      letter-spacing: 0;
      white-space: nowrap;
      &:first-child {
          margin-left: 0;
      }
        @include mq(small) {
            margin-left: 7px;
            &:first-child {
                margin-left: 7px;
            }
        }
    }
    &_link {
      display: inline-block;
      padding: 3px 8px 2px;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;

      &__uber-eats {
        background-color: #000;
        color: #ffffff;
        span {
          color: #2db607;
        }
      }
      &__line-delima {
        background: #F3202E;
        color: #ffffff;
      }
      &__demaekan {
        border: 1px solid #F3202E;
        color: #f3202e;
      }
      &__d-delivery {
        box-sizing: border-box;
        border: 1px solid #D00F30;
        color: #D00F30;
      }
      &__r-delivery {
        box-sizing: border-box;
        border: 1px solid #F59600;
        color: #F59600;
        span {
          position: relative;
          &::before {
            content: "";
            background: url("../img/r_delivery_bg.png") no-repeat;
            background-size: 13px auto;
            position: absolute;
            top: 15px;
            left: -0.5px;
            width: 13px;
            height: 3px;
          }
        }
      }
      &__menu {
        border: 1px solid #E71E0A;
        color: #E71E0A;
      }
      &__wolt {
        background-color: #00C4EC;
        border: 1px solid #00C4EC;
      }
      &__wolt {
        background-color: #FF8080;
        border: 1px solid #FF8080;
      }
      &__foodpanda {
        background-color: #D00F61;
        border: 1px solid #D00F30;
      }
    }
  }
  &-empty {
    margin: 40px 20px 240px;
    max-width: 820px;
    min-height: 40vh;
    @include mq() {
      margin-left: auto;
      margin-right: auto;
    }
    &_heading {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.16;
    }
    &_description {
      font-size: 13px;
      margin-top: 9px;
    }
  }
}

.c-pager {
  margin-top: 32px;
  &-list {
    display: flex;
    justify-content: center;
  }
  &-item {
    width: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    margin-left: 8px;
    margin-right: 8px;
    box-sizing: border-box;
  }
  &-link {
    display: block;
    padding: 7px 0;
    text-decoration: none;
    color: #000;
  }
  &-current {
    display: block;
    padding: 7px 0;
    background-color: #FFA800;
    color: #ffffff;
  }
}

.c-policy {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  line-height: 1.16;
  @include mq {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  h1 {
    font-size: 24px;
    @include mq() {
      font-size: 32px;
      margin-bottom: 44px;
    }
  }
  h2 {
    margin-top: 36px;
    font-size: 20px;
    @include mq {
      margin-top: 56px;
    }
  }
  h3 {
    font-size: 16px;
    margin-top: 20px;
    @include mq {
      font-size: 18px;
      margin-top: 32px;
    }
  }
  h4 {
    margin-top: 1em;
    font-size: 14px;
    @include mq {
      font-size: 16px;
      margin-top: 24px;
    }
  }
  p {
    margin-top: 1em;
    font-size: 14px;
    @include mq {
      font-size: 16px;
    }
  }
  ul {
    font-size: 14px;
    margin-left: 36px;
    padding-left: 0;
  }
  li {
    list-style-type: none;
    position: relative;
    margin-top: 10px;
    &::before {
      content: "\2022";
      color: #C4C4C4;
      position: absolute;
      top: -4px;
      left: -16px;
      font-size: 22px;
    }
    @include mq {
      font-size: 16px;
    }
  }
  a {
    text-decoration: none;
    &:link {
      color: #3C8CF9;
    }
    &:visited {
      color: #3C8CF9;
    }
  }
}

.c-page-header {
  margin: 0 12px;
  @include mq(small) {
    max-width: 800px;
    margin: 0 auto;
  }
}
.c-page-title {
  margin-top: 29px;
  font-size: 16px;
  @include mq(small) {
    margin-top: 24px;
  }
}
.c-topic_path {
  margin-top: 18px;
  @include mq(small) {
    margin-top: 15px;
  }
  &-list {
    font-size: 12px;
  }
  &-item {
    display: inline-block;
    &::before {
      display: inline-block;
      content: '>';
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
    &:first-child::before {
      content: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &-link {
    text-decoration: none;
    &:link {
      color: #3C8CF9;
    }
    &:visited {
      color: #3C8CF9;
    }
  }
}

.c-area {
  margin: 0 12px;
  @include mq(small) {
    width: 800px;
    margin: 12px auto 0;
  }
  &-title {
    font-size: 16px;
    margin-top: 53px;
    @include mq(small) {
      margin-top: 40px;
    }
    & + .c-area-list {
      margin-top: 17px;
    }
  }
  &-list {
  }
  &-item {
    margin-top: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
  }
  &-link {
    font-size: 13px;
    display: block;
    padding: 9px 18px 10px;
    text-decoration: none;
    &:link {
      color: #333333;
    }
    &:visited {
      color: #333333;
    }
  }
  &-kana {
    &-item {
      margin-top: 10px;
      border: 1px solid #dddddd;
      border-radius: 10px;
      font-size: 13px;
    }
    &-name {
      cursor: pointer;
      padding: 10px 12px 10px 51px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 13px;
        left: 17px;
        //background: url("../img/ico_plus.svg") no-repeat 0 0;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.25%207.75V13.5H7.75V7.75H13.5V6.25H7.75V0.5H6.25V6.25H0.5V7.75H6.25Z%22%20fill%3D%22%23AAAAAA%22%2F%3E%3C%2Fsvg%3E") no-repeat 0 0;
        width: 13px;
        height: 13px;
        display: block;
        transform: rotate(0);
        transition: transform .2s ease-out;
      }
      &.js-label-open::before {
        transform: rotate(135deg);
      }
    }
    &-content {
      padding-left:65px;
      opacity: 0;
      visibility: hidden;
      line-height: 0;
      transition:
        margin-top .2s ease-out,
        padding-bottom .2s ease-out,
        line-height .2s ease-out,
        opacity .2s ease-out,
        visibility .1s linear;
      &.js-content-open {
        margin-top: 8px;
        padding-bottom: 25px;
        opacity: 1;
        visibility: visible;
        line-height: 1.5;
        transition:
          margin-top .2s ease-out,
          padding-bottom .2s ease-out,
          line-height .2s ease-out,
          opacity .1s linear .1s,
          visibility .1s linear .1s;
        .c-area-kana-content-link {
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
      &-list {
        list-style-type: none;
      }
      &-item {
      }
      &-link {
        display: block;
        text-decoration: none;
        &:link {
          color: #333;
        }
        &:visited {
          color: #333;
        }
        transition:
          padding-top .2s ease-out,
          padding-bottom .2s ease-out;
      }
    }
  }
}

.c-location-app-download {
  margin: 16px 12px;
  padding: 7px 0 2px;
  display: flex;
  border: 1px solid #DDDDDD;
  border-left: 3px solid #FFA800;
  border-radius: 10px;
  justify-content: space-between;
  @include mq(small) {
    display: none;
  }
  &_left {
    padding-left: 10px;
    flex: 0 0 74px;
  }
  &_center {
    padding-right: 8px;
  }
  &_right {
    padding-right: 8px;
    flex: 0 0 108px;
  }
  &_links {
    padding: 0;
  }
  &_link-item {

  }
  &_title {
    font-size: 14px;
    font-weight: 700;
    em {
      font-size: 16px;
      font-style: normal;
    }
  }
  &_subtitle {
    font-size: 10px;
    margin-top: 4px;
  }
  &_coupon {
    font-size: 12px;
    span {
      background: #EFEFEF;
      color: #D00F30;
      display: inline-block;
      border-radius: 4px;
      padding: 1px 6px 2px;
    }
  }
}
