@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&family=Roboto:400,700&display=swap');
@import "reset";
@import "_mixin/mixins";

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: auto;
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

.l-header {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.p-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_brand {
    display: flex;
    margin: 10px;
    height: 40px;
    color: #484848;
    text-decoration: none;
    &-logo {
      margin-right: 6px;
      width: 50px;
      height: 40px;
    }
    &-title {
      font-size: 24px;
      font-weight: 700;
      height: 38px;
      margin-top: 2px;
      white-space: nowrap;
    }
  }
  &_description {
    font-size: 11px;
    line-height: 1.18;
    margin-right: 5px;
    @include mq(xsmall) {
      margin-right: 20px;
    }
    @include mq(small) {
      margin-left: 23px;
      margin-right: 38px;
    }
  }
}

.l-footer {
  margin-top: 66px;
  padding: 35px 15px;
  background-color: #eeeeee;
  @include mq(small) {
    margin-top: 59px;
    padding-top: 45px;
    padding-left: 0;
    padding-right: 0;
  }
}
.c-footer {
  &_menu-list {
    @include mq(small) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &_menu-item {
    margin-right: 45px;
    font-size: 16px;
    margin-top: 10px;
    @include mq(small) {
      margin-top: 0;
    }
  }
  &_menu-link {
    color: #000;
    text-decoration: none;
  }
}

.c-catch {
  background: url("../img/catch_bg_sp.png") #FFE6C1 center 93px no-repeat;
  padding: 40px 20px 44px;
  //background-size: 293.5px auto;
  @include mq(small) {
    background: url("../img/catch_bg_pc.png") #FFE6C1 center 0 no-repeat;
  }
  &-copy {
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 290px;
    @include mq(small) {
      font-size: 45px;
      text-align: center;
      margin-bottom: 51px;
    }
  }
  &-search {
    background-color: #fff;
    margin: 0 20px;
    padding: 27px 0 0;
    border-radius: 10px;
    @include mq(small) {
      margin-left: auto;
      margin-right: auto;
      width: 453px;
      padding-top: 25px;
    }
    &-button {
      display: block;
      background: linear-gradient(90deg, #FFA800 0%, #FF9153 100%);
      border: none;
      font-size: 16px;
      font-weight: 700;
      color: #ffffff;
      border-radius: 100px;
      padding: 12px 0 13px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      width: 100%;
      &-area {
        margin: 0 20px;
      }
    }
    &-area {
      margin: 24px 20px 0;
      padding-bottom: 16px;
      @include mq(small) {
        margin: 24px 30px;
      }
      &-title {
        font-size: 14px;
        color: #aaaaaa;
      }
      &-body {
        margin-top: 7px;
        img {
          max-width: 300px;
          margin: auto;
        }
        @include mq(small) {
          text-align: center;
        }
      }
    }
  }
}
.c-sns {
  margin: 67px auto 0;
  max-width: 236px;
  @include mq(small) {
    margin-top: 54px;
  }
  &-title {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  &-list {
    display: flex;
    justify-content: space-between;
  }
}

.c-home-area {
  margin: 70px 20px 60px;
  @include mq(small) {
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  &-title {
    font-size: 20px;
    @include mq(small) {
      font-size: 32px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  &-col3-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-wrap {
      margin: 11px 17px 0;
      @include mq(small) {
        margin-left: 0;
        margin-right: 0;
      }
      & + & {
        margin-top: -1px;
      }
    }
  }
  &-col3-item {
    margin-top: 9px;
    width: 31.5%;
    @include mq(small) {
      width: 32.1%;
    }
  }
  &-col3-link {
    display: block;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 13px;
    &:link, &:visited {
      color: #333333;
      text-decoration: none;
    }
  }
  &-col3-pict {
    border-radius: 9px 9px 0 0;
    overflow: hidden;
  }
  &-col3-text {
    padding: 9px 0 10px;
    text-align: center;
  }
}

.c-hero {
  padding: 0 20px;
  max-width: 540px;
  margin: 23px auto 0;
  @include mq(medium) {
    margin-top: 53px;
  }
  &-heading {
    font-size: 20px;
    line-height: 1.6;
    @include mq(xsmall) {
      font-size: 24px;
    }
    @include mq(small) {
      margin: 34px 33px 0;
      font-size: 32px;
    }
  }
  &-content {
    margin-top: 19px;
    @include mq(small) {
      margin-top: 34px;
    }
    p {
      margin-top: 1em;
      font-size: 16px;
      line-height: 1.18;
    }
  }
}

.c-services {
  max-width: 375px;
  margin: 37px 20px 0;
  @include mq(small) {
    margin: 54px auto 0;
  }
  &-heading {
    font-size: 20px;
    margin-bottom: 1em;
    @include mq(small) {
      font-size: 24px;
    }
  }
  &-list {
    letter-spacing: 0;
  }
  &-item {
    display: inline-block;
    margin-right: 1em;
  }
}

.c-location {
  &-header {
    margin: 4px 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 820px;
    @include mq() {
      margin: 7px auto 0;
    }
  }
  &-area {
    display: flex;
    align-items: center;
    overflow: hidden;
    .c-topic_path {
      margin-top: 0;
    }
  }
  &-post_number {
    font-size: 16px;
    font-weight: 700;
    margin-right: 9px;
    line-height: 1;
    white-space: nowrap;
    flex: 1;
  }
  &-address {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-count {
    margin-left: 10px;
    white-space: nowrap;
  }
  &-count_num {
    font-size: 24px;
    font-weight: 700;
  }
  &-count_unit {
    font-size: 18px;
    font-weight: 700;
  }
  &-shop {
    margin-top: 5px;
  }
  &-suggestion {
    font-size: 14px;
    text-align: right;
    margin: 10px 25px 0;
    max-width: 820px;
    @include mq(small) {
      margin: 10px auto 0;
    }
    a {
      &:link, &:visited {
        color: #3C8CF9;
        text-decoration: none;
      }
    }
  }
}

.c-shop {
  margin-left: 12px;
  margin-right: 12px;
  @include mq() {
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    margin-top: -18px;
  }
  &-list {
    @include mq() {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &-item {
    margin-top: 7px;
    //position: relative;
    @include mq() {
      width: 390px;
      margin-top: 34px;
    }
  }
  &-link {
    display: flex;
    border-radius: 10px;
    //box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #dddddd;
    overflow: hidden;
    color: #000000;
    text-decoration: none;
  }
  &-image {
    width: 130px;
  }
  &-text {
    //flex: 1;
    width: calc(100% - 130px - 17px - 15px);
    margin-left: 17px;
    margin-right: 15px;
  }
  &-name {
    margin-top: 9px;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-category {
    font-size: 12px;
  }
  &-review {
    display: flex;
    align-items: center;
    &_star_bg {
      width: 96px;
      height: 15px;
      background: url("../img/ico_star_gray.svg") repeat-x;
      background-size: auto 15px;
    }
    &_star {
      width: 16px;
      height: 15px;
      background: url("../img/ico_star_red.svg") repeat-x;
      background-size: auto 15px;
      //@for i i
      @for $i from 0 through 10 {
        &__val#{$i} {
          $image: none;
          @if($i < 7) {
            $image: url("../img/ico_star_yellow.svg");
          } @else if($i < 9) {
            $image: url("../img/ico_star_orange.svg");
          } @else {
            $image: url("../img/ico_star_red.svg");
          }
          width: (15px * $i / 2) + (floor($i / 2) * 5px);
          background-image: $image;
        }
      }
    }
    &_value {
      margin-left: 10px;
      font-size: 12px;
      line-height: 1;
    }
  }
  &-enable {
    //position: absolute;
    //bottom: 5px;
    //right: 15px;
    margin-top: 10px;
    //width: calc(100% - 130px - 17px - 15px);
    &_list {
      text-align: right;
      letter-spacing: -.4em;
    }
    &_item {
      display: inline-block;
      text-align: center;
      font-size: 12px;
      margin-left: 3px;
      margin-bottom: 5px;
      letter-spacing: 0;
      white-space: nowrap;
      &:first-child {
          margin-left: 0;
      }
        @include mq(small) {
            margin-left: 7px;
            &:first-child {
                margin-left: 7px;
            }
        }
    }
    &_link {
      display: inline-block;
      padding: 3px 8px 2px;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;

      &__uber-eats {
        background-color: #000;
        color: #ffffff;
        span {
          color: #2db607;
        }
      }
      &__line-delima {
        background: #F3202E;
        color: #ffffff;
      }
      &__demaekan {
        box-sizing: border-box;
        border: 1px solid #F3202E;
        color: #f3202e;
        padding-top: 2px;
        padding-bottom: 1px;
      }
      &__d-delivery {
        box-sizing: border-box;
        border: 1px solid #D00F30;
        color: #D00F30;
      }
      &__r-delivery {
        box-sizing: border-box;
        border: 1px solid #F59600;
        color: #F59600;
        span {
          position: relative;
          &::before {
            content: "";
            background: url("../img/r_delivery_bg.png") no-repeat;
            background-size: 13px auto;
            position: absolute;
            top: 15px;
            left: -0.5px;
            width: 13px;
            height: 3px;
          }
        }
      }
    }
  }
  &-empty {
    margin: 40px 20px 240px;
    max-width: 820px;
    min-height: 40vh;
    @include mq() {
      margin-left: auto;
      margin-right: auto;
    }
    &_heading {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.16;
    }
    &_description {
      font-size: 13px;
      margin-top: 9px;
    }
  }
}

.c-pager {
  margin-top: 32px;
  &-list {
    display: flex;
    justify-content: center;
  }
  &-item {
    width: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    margin-left: 8px;
    margin-right: 8px;
    box-sizing: border-box;
  }
  &-link {
    display: block;
    padding: 7px 0;
    text-decoration: none;
    color: #000;
  }
  &-current {
    display: block;
    padding: 7px 0;
    background-color: #FFA800;
    color: #ffffff;
  }
}

.c-policy {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  line-height: 1.16;
  @include mq {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  h1 {
    font-size: 24px;
    @include mq() {
      font-size: 32px;
      margin-bottom: 44px;
    }
  }
  h2 {
    margin-top: 36px;
    font-size: 20px;
    @include mq {
      margin-top: 56px;
    }
  }
  h3 {
    font-size: 16px;
    margin-top: 20px;
    @include mq {
      font-size: 18px;
      margin-top: 32px;
    }
  }
  h4 {
    margin-top: 1em;
    font-size: 14px;
    @include mq {
      font-size: 16px;
      margin-top: 24px;
    }
  }
  p {
    margin-top: 1em;
    font-size: 14px;
    @include mq {
      font-size: 16px;
    }
  }
  ul {
    font-size: 14px;
    margin-left: 36px;
    padding-left: 0;
  }
  li {
    list-style-type: none;
    position: relative;
    margin-top: 10px;
    &::before {
      content: "\2022";
      color: #C4C4C4;
      position: absolute;
      top: -4px;
      left: -16px;
      font-size: 22px;
    }
    @include mq {
      font-size: 16px;
    }
  }
  a {
    text-decoration: none;
    &:link {
      color: #3C8CF9;
    }
    &:visited {
      color: #3C8CF9;
    }
  }
}

.c-page-header {
  margin: 0 12px;
  @include mq(small) {
    max-width: 800px;
    margin: 0 auto;
  }
}
.c-page-title {
  margin-top: 29px;
  font-size: 16px;
  @include mq(small) {
    margin-top: 24px;
  }
}
.c-topic_path {
  margin-top: 18px;
  @include mq(small) {
    margin-top: 15px;
  }
  &-list {
    font-size: 12px;
  }
  &-item {
    display: inline-block;
    &::before {
      display: inline-block;
      content: '>';
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
    &:first-child::before {
      content: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &-link {
    text-decoration: none;
    &:link {
      color: #3C8CF9;
    }
    &:visited {
      color: #3C8CF9;
    }
  }
}

.c-area {
  margin: 0 12px;
  @include mq(small) {
    width: 800px;
    margin: 12px auto 0;
  }
  &-title {
    font-size: 16px;
    margin-top: 53px;
    @include mq(small) {
      margin-top: 40px;
    }
    & + .c-area-list {
      margin-top: 17px;
    }
  }
  &-list {
  }
  &-item {
    margin-top: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
  }
  &-link {
    font-size: 13px;
    display: block;
    padding: 9px 18px 10px;
    text-decoration: none;
    &:link {
      color: #333333;
    }
    &:visited {
      color: #333333;
    }
  }
  &-kana {
    &-item {
      margin-top: 10px;
      border: 1px solid #dddddd;
      border-radius: 10px;
      font-size: 13px;
    }
    &-name {
      cursor: pointer;
      padding: 10px 12px 10px 51px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 13px;
        left: 17px;
        background: url("../img/ico_plus.svg") no-repeat 0 0;
        width: 13px;
        height: 13px;
        display: block;
        transform: rotate(0);
        transition: transform .2s ease-out;
      }
      &.js-label-open::before {
        transform: rotate(135deg);
      }
    }
    &-content {
      padding-left:65px;
      opacity: 0;
      visibility: hidden;
      line-height: 0;
      transition:
        margin-top .2s ease-out,
        padding-bottom .2s ease-out,
        line-height .2s ease-out,
        opacity .2s ease-out,
        visibility .1s linear;
      &.js-content-open {
        margin-top: 8px;
        padding-bottom: 25px;
        opacity: 1;
        visibility: visible;
        line-height: 1.5;
        transition:
          margin-top .2s ease-out,
          padding-bottom .2s ease-out,
          line-height .2s ease-out,
          opacity .1s linear .1s,
          visibility .1s linear .1s;
        .c-area-kana-content-link {
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
      &-list {
        list-style-type: none;
      }
      &-item {
      }
      &-link {
        display: block;
        text-decoration: none;
        &:link {
          color: #333;
        }
        &:visited {
          color: #333;
        }
        transition:
          padding-top .2s ease-out,
          padding-bottom .2s ease-out;
      }
    }
  }
}

