.c-coupons {
  &-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  &-item {
    scroll-snap-align: start;
    scroll-margin: 8px;
    flex-shrink: 0;
    flex-basis: 92%;
    margin: 16px 0 16px 9px;
    padding: 8px 0 2px;
    display: flex;
    border: 1px solid #DDDDDD;
    border-left: 3px solid #FFA800;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
    &:last-child {
      margin-right: 9px;
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 100%;
        height: 1px;
        width: 9px;
        background-color: transparent;
      }
    }
    @include mq(small) {
      display: none;
    }
    &__menu {
      border-left-color: #E71E0A;
    }
    &__uber {
      border-left-color: #000000;
    }
    &__wolt {
      border-left-color: #57BFE3;
    }
    &__foodpanda {
      border-left-color: #D60664;
    }
    &__demaecan {
      border-left-color: #F52900;
    }
  }
}

.c-coupon {
  display: flex;
  align-items: center;
  &_left {
    padding-left: 10px;
    flex: 0 0 74px;
  }
  &_right {
    padding: 0 20px 3px 10px;
    flex: 1 0;
  }
  &_links {
    margin-top: 10px;
    padding: 0;
    display: flex;
  }
  &_link-item {
    margin-left: 4px;
    &:first-child{
      margin-left: -4px;
    }
  }
  &_title {
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    em {
      font-size: 20px;
      font-style: normal;
    }
  }
  &_subtitle {
    font-size: 10px;
    margin-top: 4px;
  }
  &_description {
    height: 100%;
    font-size: 12px;
    margin-top: 4px;
    line-height: 1.7;
    span {
      background: #EFEFEF;
      color: #D00F30;
      display: inline-block;
      border-radius: 4px;
      padding: 1px 6px 2px;
    }
  }
  &_buttons {
    margin-top: 11px;
  }
}
