@mixin mq($breakpoint: medium) {
  @if $breakpoint == xsmall {
    @media screen and (min-width: 321px) {
      @content;
    }
  } @else if $breakpoint == small {
    @media screen and (min-width: 601px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media screen and (min-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }
}